{
  "openapi": "3.0.1",
  "info": {
    "title": "Bajie Charging Open API",
    "description": "Downloaded from https://s.apifox.cn/4855b8fe-4c43-48f6-8bd6-37cc29b98fe5",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://developer.chargenow.top/cdb-open-api/v1",
      "description": "Production"
    },
    {
      "url": "https://saas.dtoolsz.com/cdb-open-api/v1",
      "description": "得兔-多货币"
    }
  ],
  "paths": {
    "/cabinet/batteryListByCabinetId/{cabinetId}": {
      "get": {
        "summary": "Query battery list based on Device Id",
        "deprecated": false,
        "description": "Query battery list based on Device Id",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "cabinetId",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "example": "DTA38785",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "RestResponse"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104221999-run",
        "x-apifox-source": "api-104221999"
      }
    },
    "/cabinet/bind2shop/{qrcode}/{newshopid}": {
      "post": {
        "summary": "binding device to shop",
        "deprecated": false,
        "description": "binding device to shop",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "qrcode",
            "in": "path",
            "description": "Device id or qr Code",
            "required": true,
            "example": "SAB02371",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newshopid",
            "in": "path",
            "description": "shop id",
            "required": true,
            "example": "04679963e0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222000-run",
        "x-apifox-source": "api-104222000"
      }
    },
    "/cabinet/detail/{cabinetId}": {
      "get": {
        "summary": "Query details based on Device Id",
        "deprecated": false,
        "description": "Query details based on Device Id",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "cabinetId",
            "in": "path",
            "description": "Device Id  Or  QrCode Or QrCode_Url",
            "required": true,
            "example": "SAB02371",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "RestResponse"
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222001-run",
        "x-apifox-source": "api-104222001"
      }
    },
    "/cabinet/ejectByRent": {
      "post": {
        "summary": "Rent and eject the battery for the specified device slot",
        "deprecated": false,
        "description": "Rent and eject the battery for the specified device slot",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "cabinetid",
            "in": "query",
            "description": "Device ID",
            "required": true,
            "example": "DTA19484",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rentOrderId",
            "in": "query",
            "description": "rentOrderId",
            "required": true,
            "example": "26041620260378047128",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slotNum",
            "in": "query",
            "description": "Slot Number",
            "required": true,
            "example": 2,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222002-run",
        "x-apifox-source": "api-104222002"
      }
    },
    "/cabinet/ejectByRepair": {
      "post": {
        "summary": "eject the battery for the specified device slot by repair",
        "deprecated": false,
        "description": "eject the battery for the specified device slot by repair",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cabinetid",
            "in": "query",
            "description": "Device ID",
            "required": true,
            "example": "SAB02371",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slotNum",
            "in": "query",
            "description": "Slot Number,0 or null will eject all battery",
            "required": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222003-run",
        "x-apifox-source": "api-104222003"
      }
    },
    "/cabinet/getAllDevicePage": {
      "get": {
        "summary": "get all device list by page",
        "deprecated": false,
        "description": "get all device list by page",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "current page",
            "required": true,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "rows per page",
            "required": true,
            "example": "20",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222005-run",
        "x-apifox-source": "api-104222005"
      }
    },
    "/cabinet/getDeviceByShopId": {
      "get": {
        "summary": "get device list by shop id",
        "deprecated": false,
        "description": "get device list by shop id",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "shopid",
            "in": "query",
            "description": "Shop ID",
            "required": true,
            "example": "04679963e0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222006-run",
        "x-apifox-source": "api-104222006"
      }
    },
    "/cabinet/operation": {
      "post": {
        "summary": "Device Operation",
        "deprecated": false,
        "description": "Device 操作",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "cabinetid",
            "in": "query",
            "description": "Device ID",
            "required": true,
            "example": "DTA19484",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slotNum",
            "in": "query",
            "description": "Slot Number",
            "required": true,
            "example": 2,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "operationType",
            "in": "query",
            "description": "Operation type;restart,pop,popall,popallForNoAuth,popallForAuth,heartbeat,lock,unlock,lockStopCharge,report",
            "required": true,
            "example": "pop",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "lock reason",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batcabFault",
            "in": "query",
            "description": "slot failure type",
            "required": false,
            "example": 0,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "batteryFault",
            "in": "query",
            "description": "battery failure type",
            "required": false,
            "example": 0,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "0=slot failure, 1=battery failure",
            "required": false,
            "example": 0,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "gpsTime",
            "in": "query",
            "description": "gpsTime",
            "required": false,
            "example": 0,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "RestResponse"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222009-run",
        "x-apifox-source": "api-104222009"
      }
    },
    "/cabinet/slotByCabinetId/{cabinetId}": {
      "get": {
        "summary": "Query slot list based on Device Id",
        "deprecated": false,
        "description": "Query slot list based on Device Id",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "cabinetId",
            "in": "path",
            "description": "Device Id",
            "required": true,
            "example": "SAB02371",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "RestResponse"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222014-run",
        "x-apifox-source": "api-104222014"
      }
    },
    "/shop/create": {
      "post": {
        "summary": "create new shop",
        "deprecated": false,
        "description": "create new shop",
        "operationId": "createStoreUsingPOST",
        "tags": [
          "Advance API/Shop",
          "shop-controller"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": false,
            "example": "Basic dGVzdDp0ZXN0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CdbShopEntity"
              },
              "example": ""
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "x-apifox-orders": []
                  },
                  "x-apifox-orders": [],
                  "properties": {},
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Created"
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Forbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Not Found"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Shop",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222036-run",
        "x-apifox-source": "api-104222036"
      }
    },
    "/shop/delete/{shopid}": {
      "delete": {
        "summary": "Delete shop",
        "deprecated": false,
        "description": "Delete shop",
        "operationId": "deleteStoreUsingDELETE",
        "tags": [
          "Advance API/Shop",
          "shop-controller"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "path",
            "description": "shop Id",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": false,
            "example": "Basic dGVzdDp0ZXN0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "x-apifox-orders": []
                  },
                  "x-apifox-orders": [],
                  "properties": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          },
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "No Content"
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Forbidden"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Shop",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222037-run",
        "x-apifox-source": "api-104222037"
      }
    },
    "/shop/detail/{shopid}": {
      "get": {
        "summary": "get shop detail",
        "deprecated": false,
        "description": "get shop detail",
        "operationId": "getShopUsingGET",
        "tags": [
          "Advance API/Shop",
          "shop-controller"
        ],
        "parameters": [
          {
            "name": "shopid",
            "in": "path",
            "description": "shop id",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": false,
            "example": "Basic dGVzdDp0ZXN0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "x-apifox-orders": []
                  },
                  "x-apifox-orders": [],
                  "properties": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Forbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Not Found"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Shop",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222038-run",
        "x-apifox-source": "api-104222038"
      }
    },
    "/shop/getShopList": {
      "get": {
        "summary": "get all shop list",
        "deprecated": false,
        "description": "get all shop list",
        "operationId": "getShopListUsingGET",
        "tags": [
          "Advance API/Shop",
          "shop-controller"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": false,
            "example": "Basic dGVzdDp0ZXN0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "ids": {
                            "type": "integer"
                          },
                          "newID": {
                            "type": "string",
                            "description": "Merchant Unique Identifier"
                          },
                          "pPtid": {
                            "type": "string",
                            "description": "Platform ID"
                          },
                          "pSfid": {
                            "type": "string"
                          },
                          "pCsid": {
                            "type": "string"
                          },
                          "pQyid": {
                            "type": "string"
                          },
                          "pYwid": {
                            "type": "string"
                          },
                          "pDpid": {
                            "type": "string"
                          },
                          "shopName": {
                            "type": "string",
                            "description": "merchant name"
                          },
                          "shopAddress": {
                            "type": "string",
                            "description": "Merchant Address"
                          },
                          "shopAddress1": {
                            "type": "string",
                            "description": "Merchant Address"
                          },
                          "mobile": {
                            "type": "string",
                            "description": "Mobile"
                          },
                          "distance": {
                            "type": "string",
                            "description": "Distance"
                          },
                          "batteryNum": {
                            "type": "string",
                            "description": "Number of merchant batteries"
                          },
                          "freeNum": {
                            "type": "string",
                            "description": "The number of batteries that merchants can borrow"
                          },
                          "cabinetNum": {
                            "type": "integer",
                            "description": "Number of merchant cabinets"
                          },
                          "longitude": {
                            "type": "string",
                            "description": "longitude"
                          },
                          "latitude": {
                            "type": "string",
                            "description": "latitude"
                          },
                          "shopBanner": {
                            "type": "string",
                            "description": "Merchant banner"
                          },
                          "shopIcon": {
                            "type": "string",
                            "description": "Merchant icon"
                          },
                          "shopTime": {
                            "type": "string",
                            "description": "Business hours of the merchant"
                          },
                          "shopWorkTime": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "openTime": {
                                  "type": "string",
                                  "description": "Business opening time"
                                },
                                "closeTime": {
                                  "type": "string",
                                  "description": "Closing time for merchants"
                                },
                                "dayOfWeek": {
                                  "type": "integer",
                                  "description": "The day of the week on which it occurs every week"
                                }
                              },
                              "x-apifox-orders": [
                                "openTime",
                                "closeTime",
                                "dayOfWeek"
                              ]
                            },
                            "description": "List of business hours for merchants"
                          },
                          "shopUrl": {
                            "type": "string",
                            "description": "The image address of the merchant's homepage"
                          },
                          "distanceNumber": {
                            "type": "integer",
                            "description": "distance"
                          },
                          "sceneType": {
                            "type": "string",
                            "description": "Merchant scenario type"
                          },
                          "sceneTypeDesc": {
                            "type": "string",
                            "description": "Merchant scenario type"
                          },
                          "pStoreType": {
                            "type": "string",
                            "description": "Merchant type"
                          },
                          "pStoreCategory": {
                            "type": "string",
                            "description": "Merchant category"
                          },
                          "infoStatus": {
                            "type": "string"
                          },
                          "pPriceid": {
                            "type": "integer",
                            "description": "Price Strategy ID"
                          },
                          "posPriceId": {
                            "type": "integer",
                            "description": "POS Pricing Strategy ID"
                          },
                          "pMian": {
                            "type": "string",
                            "description": "Merchant free duration"
                          },
                          "pJifei": {
                            "type": "string",
                            "description": "Merchant unit price amount"
                          },
                          "pJifeiDanwei": {
                            "type": "string",
                            "description": "Merchant unit of measurement for pricing"
                          },
                          "priceUnit": {
                            "type": "integer",
                            "description": "Billing unit granularity"
                          },
                          "pFengding": {
                            "type": "string",
                            "description": "Merchant billing cap amount"
                          },
                          "pYajin": {
                            "type": "string",
                            "description": "Deposit amount"
                          },
                          "overtimeAmount": {
                            "type": "string",
                            "description": "Overdue amount"
                          },
                          "overtimeDay": {
                            "type": "integer",
                            "description": "Number of overtime days"
                          },
                          "pCurrency": {
                            "type": "string",
                            "description": "Currency"
                          },
                          "currencyName": {
                            "type": "string",
                            "description": "Currency Name"
                          },
                          "canReturnNum": {
                            "type": "string",
                            "description": "The number of cards that can be returned"
                          },
                          "chargingBatteryNum": {
                            "type": "string",
                            "description": "The number of charging pads that are currently charging"
                          },
                          "shopType": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            },
                            "description": "Network type: 1. Charger Battery, 2. Mifi Device"
                          },
                          "cabinetIds": {
                            "type": "string",
                            "description": "List of device IDs"
                          },
                          "businessType": {
                            "type": "string",
                            "description": "Business Type"
                          },
                          "businessTypeDesc": {
                            "type": "string",
                            "description": "Description of business type"
                          },
                          "businessScene": {
                            "type": "string",
                            "description": "Business scenario"
                          },
                          "businessSceneDesc": {
                            "type": "string",
                            "description": "Business scenario description"
                          },
                          "businessCategory": {
                            "type": "string",
                            "description": "Business category"
                          },
                          "businessCategoryDesc": {
                            "type": "string",
                            "description": "Description of Business Categories"
                          },
                          "businessStatus": {
                            "type": "integer",
                            "description": "Business status: 0 - Not open, 1 - Open"
                          },
                          "extendedJson": {
                            "type": "string",
                            "description": "Expand field"
                          }
                        },
                        "x-apifox-orders": [
                          "id",
                          "ids",
                          "newID",
                          "pPtid",
                          "pSfid",
                          "pCsid",
                          "pQyid",
                          "pYwid",
                          "pDpid",
                          "shopName",
                          "shopAddress",
                          "shopAddress1",
                          "mobile",
                          "distance",
                          "batteryNum",
                          "freeNum",
                          "cabinetNum",
                          "longitude",
                          "latitude",
                          "shopBanner",
                          "shopIcon",
                          "shopTime",
                          "shopWorkTime",
                          "shopUrl",
                          "distanceNumber",
                          "sceneType",
                          "sceneTypeDesc",
                          "pStoreType",
                          "pStoreCategory",
                          "infoStatus",
                          "pPriceid",
                          "posPriceId",
                          "pMian",
                          "pJifei",
                          "pJifeiDanwei",
                          "priceUnit",
                          "pFengding",
                          "pYajin",
                          "overtimeAmount",
                          "overtimeDay",
                          "pCurrency",
                          "currencyName",
                          "canReturnNum",
                          "chargingBatteryNum",
                          "shopType",
                          "cabinetIds",
                          "businessType",
                          "businessTypeDesc",
                          "businessScene",
                          "businessSceneDesc",
                          "businessCategory",
                          "businessCategoryDesc",
                          "businessStatus",
                          "extendedJson"
                        ]
                      }
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "msg",
                    "code",
                    "data"
                  ]
                },
                "example": {
                  "msg": "",
                  "code": "",
                  "data": [
                    {
                      "id": 0,
                      "ids": 0,
                      "newID": "string",
                      "pPtid": "string",
                      "pSfid": "string",
                      "pCsid": "string",
                      "pQyid": "string",
                      "pYwid": "string",
                      "pDpid": "string",
                      "shopName": "string",
                      "shopAddress": "string",
                      "shopAddress1": "string",
                      "mobile": "string",
                      "distance": "string",
                      "batteryNum": "string",
                      "freeNum": "string",
                      "cabinetNum": 0,
                      "longitude": "string",
                      "latitude": "string",
                      "shopBanner": "string",
                      "shopIcon": "string",
                      "shopTime": "string",
                      "shopWorkTime": [
                        {
                          "openTime": "string",
                          "closeTime": "string",
                          "dayOfWeek": 0
                        }
                      ],
                      "shopUrl": "string",
                      "distanceNumber": 0,
                      "sceneType": "string",
                      "sceneTypeDesc": "string",
                      "pStoreType": "string",
                      "pStoreCategory": "string",
                      "infoStatus": "string",
                      "pPriceid": 0,
                      "posPriceId": 0,
                      "pMian": "string",
                      "pJifei": "string",
                      "pJifeiDanwei": "string",
                      "priceUnit": 0,
                      "pFengding": "string",
                      "pYajin": "string",
                      "overtimeAmount": "string",
                      "overtimeDay": 0,
                      "pCurrency": "string",
                      "currencyName": "string",
                      "canReturnNum": "string",
                      "chargingBatteryNum": "string",
                      "shopType": [
                        0
                      ],
                      "cabinetIds": "string",
                      "businessType": "string",
                      "businessTypeDesc": "string",
                      "businessScene": "string",
                      "businessSceneDesc": "string",
                      "businessCategory": "string",
                      "businessCategoryDesc": "string",
                      "businessStatus": 0,
                      "extendedJson": "string"
                    }
                  ]
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Forbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Not Found"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Shop",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222039-run",
        "x-apifox-source": "api-104222039"
      }
    },
    "/shop/update": {
      "put": {
        "summary": "update shop",
        "deprecated": false,
        "description": "update shop",
        "operationId": "updateStoreUsingPUT",
        "tags": [
          "Advance API/Shop",
          "shop-controller"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": false,
            "example": "Basic dGVzdDp0ZXN0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CdbShopEntity"
              },
              "example": ""
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "x-apifox-orders": []
                  },
                  "x-apifox-orders": [],
                  "properties": {},
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "OK"
          },
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Created"
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Forbidden"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Not Found"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Shop",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-104222040-run",
        "x-apifox-source": "api-104222040"
      }
    },
    "/order/list": {
      "get": {
        "summary": "Order list",
        "deprecated": false,
        "description": "",
        "tags": [
          "Advance API/Order"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "",
            "required": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dataLevel",
            "in": "query",
            "description": "Data access, 1. Only myself, 2. Only subordinates, 3. Myself and subordinates",
            "required": false,
            "example": 3,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sTime",
            "in": "query",
            "description": "",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eTime",
            "in": "query",
            "description": "",
            "required": false,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Order",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-110374526-run",
        "x-apifox-source": "api-110374526"
      }
    },
    "/cabinet/eventPush/config": {
      "post": {
        "summary": "Cabinet Event Push Config",
        "deprecated": false,
        "description": "",
        "tags": [
          "Cabinet Event Push"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCabinetEventPushConfig"
              },
              "example": {
                "pushUrl": "https://receiving.push.com/event",
                "eventSubscriptions": [
                  {
                    "event": "CABINET_ONLINE",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "CABINET_OFFLINE",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "CABINET_STATUS",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "BATTERY_IN",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "BATTERY_BORROW_OUT",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "BATTERY_ABNORMAL_WARNING",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "BATTERY_POPUP",
                    "pushUrl": "",
                    "enable": true
                  },
                  {
                    "event": "POS_INFO_STATUS",
                    "pushUrl": "",
                    "enable": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AgentCabinetEventPushConfig"
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Cabinet Event Push",
        "x-apifox-status": "developing",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-136039440-run",
        "x-apifox-source": "api-136039440"
      }
    },
    "/The URL you configured to receive cabinet event messages": {
      "post": {
        "summary": "Cabinet Event Push",
        "deprecated": false,
        "description": "",
        "tags": [
          "Cabinet Event Push"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentAccount": {
                    "type": "string",
                    "title": "Agent account"
                  },
                  "event": {
                    "type": "string",
                    "title": "Cabinet event",
                    "description": "CABINET_ONLINE: Cabinet online event CABINET_OFFLINE: Cabinet offline event CABINET_STATUS: Cabinet status report event BATTERY_IN: Battery in eventBATTERY_BORROW_OUT: Battery be borrowed out event BATTERY_ABNORMAL_WARNING: Battery abnormality warning event BATTERY_POPUP: Battery repair pop-up event ADMIN_RENTAL_ORDER:Backstage management issues rental orders"
                  },
                  "eventData": {
                    "type": "object",
                    "properties": {
                      "batteryList": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "batteryFaultCause": {
                              "type": "string",
                              "title": "电池故障原因"
                            },
                            "batteryFaultType": {
                              "type": "integer",
                              "title": "电池故障类型",
                              "description": "0.正常，1.虚电，2.苹果线故障，3.USB线故障，4.TypeC故障，5.鼓包，6.授权失败，7.无法充电，8.电池ID重复，9.电池召回，10.电池健康不达标需回收，11.电池超限使用需回收"
                            },
                            "batteryId": {
                              "type": "string",
                              "title": "电池ID"
                            },
                            "faultCause": {
                              "type": "string",
                              "title": "卡口故障原因"
                            },
                            "faultType": {
                              "type": "integer",
                              "title": "卡口故障类型",
                              "description": "1.电池授权失败，2.卡口无法弹出充电宝，3.No this ID，4.防盗开关，5.无法识别ID，6.插入开关失效，7.卡口无法锁充电宝，8.手工锁定"
                            },
                            "infoStatus": {
                              "type": "string",
                              "title": "电池在线状态",
                              "description": "Online or Offline"
                            },
                            "slot": {
                              "type": "integer",
                              "title": "电池所在卡口号"
                            },
                            "vol": {
                              "type": "integer",
                              "title": "电池电量"
                            }
                          },
                          "x-apifox-orders": [
                            "batteryId",
                            "slot",
                            "vol",
                            "infoStatus",
                            "faultType",
                            "faultCause",
                            "batteryFaultType",
                            "batteryFaultCause"
                          ],
                          "required": [
                            "batteryId",
                            "slot"
                          ]
                        },
                        "title": "Battery information"
                      },
                      "cabinetId": {
                        "type": "string",
                        "title": "Cabinet ID"
                      },
                      "clientIp": {
                        "type": "string",
                        "title": "Cabinet IP"
                      },
                      "clientPort": {
                        "type": "string",
                        "title": "Cabinet IP PORT"
                      },
                      "geoHash": {
                        "type": "string",
                        "title": "Cabinet side positioning, GEO hash value"
                      },
                      "infoStatus": {
                        "type": "string",
                        "title": "Cabinet online status",
                        "description": "Online or Offline"
                      },
                      "rentableCount": {
                        "type": "integer",
                        "title": "Number of borrowed batteries"
                      },
                      "returnableCount": {
                        "type": "integer",
                        "title": "Number of empty charging slots"
                      },
                      "signal": {
                        "type": "string",
                        "title": "Cabinet end signal strength",
                        "description": "GPRS signal quality, range: 0-31; At least 19 is required to connect to the network, and 31 is best"
                      },
                      "totalCount": {
                        "type": "integer",
                        "title": "Total number of charging slots"
                      },
                      "icCard": {
                        "type": "string",
                        "title": "IC card number"
                      },
                      "onlineTime": {
                        "type": "string",
                        "title": "Cabinet online time"
                      },
                      "offlineTime": {
                        "type": "string",
                        "title": "Cabinet offline time"
                      },
                      "outBatteryId": {
                        "type": "string",
                        "title": "Eject battery's ID"
                      },
                      "outSlot": {
                        "type": "integer",
                        "title": "Eject battery's slot"
                      },
                      "orderId": {
                        "type": "string",
                        "title": "Order ID"
                      },
                      "faultType": {
                        "type": "integer",
                        "title": "Rental fail types",
                        "description": "0.Other or undefined errors,\n1.Authorize Battery fail\n2.Unable to find this battery ID\n3.Eject battery fail\n4.Eject battery fail\n5.Eject battery fail\n9.Issue of lease command timed out"
                      },
                      "faultCause": {
                        "type": "string",
                        "title": "Rental fail cause",
                        "description": "0.Other or undefined errors,\n1.Authorize Battery fail\n2.Unable to find this battery ID\n3.Eject battery fail\n4.Eject battery fail\n5.Eject battery fail\n9.Issue of lease command timed out"
                      },
                      "returnBatteryId": {
                        "type": "string",
                        "title": "return battery ID"
                      },
                      "returnSlot": {
                        "type": "integer",
                        "title": "return battery slot"
                      },
                      "abnormalBatteryId": {
                        "type": "string",
                        "title": "Abnormal battery ID"
                      },
                      "outStatus": {
                        "type": "string",
                        "title": "Popup status",
                        "description": "Popup status 1-failure, 0-success"
                      },
                      "popupFailureDescription": {
                        "type": "string",
                        "title": "Pop-up failure instructions",
                        "description": "Pop-up failure instructions"
                      },
                      "posSn": {
                        "type": "string",
                        "title": "POS SN"
                      },
                      "posInfoStatus": {
                        "type": "string",
                        "title": "The online status of the POS machine",
                        "description": "1 online 0offline"
                      }
                    },
                    "required": [
                      "cabinetId",
                      "outStatus",
                      "popupFailureDescription",
                      "posSn",
                      "posInfoStatus"
                    ],
                    "x-apifox-orders": [
                      "cabinetId",
                      "infoStatus",
                      "totalCount",
                      "rentableCount",
                      "returnableCount",
                      "icCard",
                      "clientIp",
                      "clientPort",
                      "geoHash",
                      "signal",
                      "batteryList",
                      "onlineTime",
                      "offlineTime",
                      "outBatteryId",
                      "outSlot",
                      "orderId",
                      "faultType",
                      "faultCause",
                      "returnBatteryId",
                      "returnSlot",
                      "abnormalBatteryId",
                      "outStatus",
                      "popupFailureDescription",
                      "posSn",
                      "posInfoStatus"
                    ],
                    "title": "Cabinet event data"
                  },
                  "timestamp": {
                    "type": "string",
                    "title": "Notification Time"
                  }
                },
                "required": [
                  "agentAccount",
                  "event",
                  "eventData",
                  "timestamp"
                ],
                "x-apifox-orders": [
                  "agentAccount",
                  "event",
                  "eventData",
                  "timestamp"
                ]
              },
              "example": {
                "agentAccount": "admins",
                "event": "CABINET_STATUS",
                "eventData": {
                  "batteryList": [
                    {
                      "batteryFaultCause": "",
                      "batteryFaultType": 0,
                      "batteryId": "FECF007552",
                      "faultCause": "",
                      "faultType": 0,
                      "infoStatus": "Online",
                      "slot": 1,
                      "vol": 100
                    }
                  ],
                  "cabinetId": "BJX01553",
                  "clientIp": "223.104.84.103",
                  "clientPort": "10797",
                  "geoHash": "",
                  "infoStatus": "Online",
                  "rentableCount": 1,
                  "returnableCount": 7,
                  "signal": "31",
                  "totalCount": 8
                },
                "timestamp": "2023-12-29T15:53:18"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [],
        "x-apifox-folder": "Cabinet Event Push",
        "x-apifox-status": "developing",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-136068784-run",
        "x-apifox-source": "api-136068784"
      }
    },
    "/cabinet/eventPush/config/get": {
      "get": {
        "summary": "GET Cabinet Event Push Config",
        "deprecated": false,
        "description": "",
        "tags": [
          "Cabinet Event Push"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AgentCabinetEventPushConfig"
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Cabinet Event Push",
        "x-apifox-status": "developing",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-136071391-run",
        "x-apifox-source": "api-136071391"
      }
    },
    "/cdb-open-api/v1/rent/cabinet/query": {
      "post": {
        "summary": "1.Get Device Info Copy",
        "deprecated": false,
        "description": "",
        "tags": [
          "Open API"
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "query",
            "description": "Device SN or ID",
            "required": true,
            "example": "BJD60151",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string"
                    },
                    "code": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "priceStrategy": {
                          "type": "object",
                          "properties": {
                            "depositAmount": {
                              "type": "integer",
                              "description": "Rent a power bank depostist amount."
                            },
                            "priceMinute": {
                              "type": "integer",
                              "description": "Price per minute"
                            },
                            "autoRefund": {
                              "type": "integer",
                              "description": "Automatic refund"
                            },
                            "timeoutAmount": {
                              "type": "integer",
                              "description": "Overdue amount charged"
                            },
                            "timeoutDay": {
                              "type": "integer",
                              "description": "Timeout days"
                            },
                            "dailyMaxPrice": {
                              "type": "integer",
                              "description": "Maximum daily unit price"
                            },
                            "freeMinutes": {
                              "type": "integer",
                              "description": "Free minutes"
                            },
                            "currencySymbol": {
                              "type": "string",
                              "description": "currency symbol"
                            },
                            "price": {
                              "type": "number",
                              "description": "Price"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "currency": {
                              "type": "string",
                              "description": "3 letter currency code"
                            },
                            "shopId": {
                              "type": "string",
                              "description": " Shop ID"
                            }
                          },
                          "required": [
                            "depositAmount",
                            "priceMinute",
                            "autoRefund",
                            "timeoutAmount",
                            "timeoutDay",
                            "dailyMaxPrice",
                            "freeMinutes",
                            "currencySymbol",
                            "price",
                            "name",
                            "currency",
                            "shopId"
                          ],
                          "x-apifox-orders": [
                            "depositAmount",
                            "priceMinute",
                            "autoRefund",
                            "timeoutAmount",
                            "timeoutDay",
                            "dailyMaxPrice",
                            "freeMinutes",
                            "currencySymbol",
                            "price",
                            "name",
                            "currency",
                            "shopId"
                          ]
                        },
                        "shop": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "Shop address"
                            },
                            "priceMinute": {
                              "type": "string",
                              "description": "Price per minute"
                            },
                            "city": {
                              "type": "string",
                              "description": "City\n"
                            },
                            "dailyMaxPrice": {
                              "type": "integer",
                              "description": "Maximum daily unit price"
                            },
                            "latitude": {
                              "type": "string",
                              "description": "Latitude"
                            },
                            "openingTime": {
                              "type": "string",
                              "description": "Opening Hours"
                            },
                            "freeMinutes": {
                              "type": "integer",
                              "description": "Free minutes"
                            },
                            "icon": {
                              "type": "string",
                              "description": "Icon"
                            },
                            "content": {
                              "type": "string",
                              "description": "Store Description"
                            },
                            "province": {
                              "type": "string",
                              "description": "Province"
                            },
                            "price": {
                              "type": "number",
                              "description": "Price"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "deposit": {
                              "type": "integer",
                              "description": "Deposit"
                            },
                            "logo": {
                              "type": "string",
                              "description": "Logo"
                            },
                            "id": {
                              "type": "string",
                              "description": "ID"
                            },
                            "region": {
                              "type": "string",
                              "description": "Region"
                            },
                            "longitude": {
                              "type": "string",
                              "description": "Region"
                            }
                          },
                          "required": [
                            "address",
                            "priceMinute",
                            "city",
                            "dailyMaxPrice",
                            "latitude",
                            "openingTime",
                            "freeMinutes",
                            "icon",
                            "content",
                            "province",
                            "price",
                            "name",
                            "deposit",
                            "logo",
                            "id",
                            "region",
                            "longitude"
                          ],
                          "x-apifox-orders": [
                            "address",
                            "priceMinute",
                            "city",
                            "dailyMaxPrice",
                            "latitude",
                            "openingTime",
                            "freeMinutes",
                            "icon",
                            "content",
                            "province",
                            "price",
                            "name",
                            "deposit",
                            "logo",
                            "id",
                            "region",
                            "longitude"
                          ]
                        },
                        "batteries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "slotNum": {
                                "type": "integer"
                              },
                              "vol": {
                                "type": "integer"
                              },
                              "batteryId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "slotNum",
                              "vol",
                              "batteryId"
                            ],
                            "x-apifox-orders": [
                              "slotNum",
                              "vol",
                              "batteryId"
                            ]
                          }
                        },
                        "cabinet": {
                          "type": "object",
                          "properties": {
                            "ip": {
                              "type": "string",
                              "description": "Ip address"
                            },
                            "remark": {
                              "type": "string",
                              "description": "Cabinet remark"
                            },
                            "type": {
                              "type": "string",
                              "description": "Cabinet type"
                            },
                            "slots": {
                              "type": "integer",
                              "description": "Slots"
                            },
                            "qrCode": {
                              "type": "string",
                              "description": "QR code"
                            },
                            "online": {
                              "type": "boolean",
                              "description": "Is the cabinet online"
                            },
                            "emptySlots": {
                              "type": "integer",
                              "description": "Not using slots"
                            },
                            "busySlots": {
                              "type": "integer",
                              "description": "Slot already used"
                            },
                            "id": {
                              "type": "string",
                              "description": "ID"
                            },
                            "shopId": {
                              "type": "string",
                              "description": "Shop ID"
                            },
                            "signal": {
                              "type": "string",
                              "description": "Signal"
                            },
                            "posDeviceId": {
                              "type": "string",
                              "description": "Pos device ID"
                            }
                          },
                          "required": [
                            "ip",
                            "remark",
                            "type",
                            "slots",
                            "qrCode",
                            "online",
                            "emptySlots",
                            "busySlots",
                            "id",
                            "shopId",
                            "signal",
                            "posDeviceId"
                          ],
                          "x-apifox-orders": [
                            "ip",
                            "remark",
                            "type",
                            "slots",
                            "qrCode",
                            "online",
                            "emptySlots",
                            "busySlots",
                            "id",
                            "shopId",
                            "signal",
                            "posDeviceId"
                          ]
                        }
                      },
                      "required": [
                        "priceStrategy",
                        "shop",
                        "batteries",
                        "cabinet"
                      ],
                      "x-apifox-orders": [
                        "priceStrategy",
                        "shop",
                        "batteries",
                        "cabinet"
                      ]
                    }
                  },
                  "required": [
                    "msg",
                    "code",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "msg",
                    "code",
                    "data"
                  ]
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Open API",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-178273644-run",
        "x-apifox-source": "api-178273644"
      }
    },
    "/shop/priceStrategy/page": {
      "post": {
        "summary": "1.Get Price Strategy Page",
        "deprecated": false,
        "description": "1.Get Shop Price Strategy Page",
        "tags": [
          "Advance API/PriceStrategy"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenPriceStrategyQueryDto",
                "description": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/PriceStrategy",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-255199665-run",
        "x-apifox-source": "api-255199665"
      }
    },
    "/shop/priceStrategy/detail/{priceId}": {
      "get": {
        "summary": "2.Get Price Strategy Detail",
        "deprecated": false,
        "description": "2.Get Shop Price Strategy Detail",
        "tags": [
          "Advance API/PriceStrategy"
        ],
        "parameters": [
          {
            "name": "priceId",
            "in": "path",
            "description": "price id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/PriceStrategy",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-255199666-run",
        "x-apifox-source": "api-255199666"
      }
    },
    "/shop/priceStrategy/saveOrUpdate": {
      "post": {
        "summary": "3.Create Or Update Price Strategy",
        "deprecated": false,
        "description": "3.Create Or Update Price Strategy",
        "tags": [
          "Advance API/PriceStrategy"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenPriceStrategySaveDto",
                "description": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/PriceStrategy",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-255199667-run",
        "x-apifox-source": "api-255199667"
      }
    },
    "/shop/priceStrategy/delete": {
      "post": {
        "summary": "4.Delete Price Strategy",
        "deprecated": false,
        "description": "4.Delete Price Strategyy",
        "tags": [
          "Advance API/PriceStrategy"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/PriceStrategy",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-255199668-run",
        "x-apifox-source": "api-255199668"
      }
    },
    "/shop/priceStrategy/bindShop": {
      "post": {
        "summary": "5.Shop Bind Price Strategy",
        "deprecated": false,
        "description": "5.Shop Bind Price Strategy",
        "tags": [
          "Advance API/PriceStrategy"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenPriceStrategyShopBindDto",
                "description": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/PriceStrategy",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-255199669-run",
        "x-apifox-source": "api-255199669"
      }
    },
    "/shop/priceStrategy/unbindShop": {
      "post": {
        "summary": "6.Shop Unbind Price Strategy",
        "deprecated": false,
        "description": "6.Shop Unbind Price Strategy",
        "tags": [
          "Advance API/PriceStrategy"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenPriceStrategyShopUnbindDto",
                "description": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/PriceStrategy",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-255199670-run",
        "x-apifox-source": "api-255199670"
      }
    },
    "/cabinet/bindAd": {
      "post": {
        "summary": "Update cabinet advertising information",
        "deprecated": false,
        "description": "Update cabinet advertising information",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dailiId",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAdPublishDTO",
                "description": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestResponse",
                  "description": "返回数据"
                },
                "example": {
                  "": {}
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [
          {
            "basic": []
          }
        ],
        "x-apifox-folder": "Advance API/Cabinet",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/2416667/apis/api-281340763-run",
        "x-apifox-source": "api-281340763"
      }
    },
    "/cabinet/unbindShop": {
      "get": {
        "summary": "Device unbound to merchant",
        "deprecated": false,
        "description": "",
        "tags": [
          "Advance API/Cabinet"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Device ID"
                },
                "description": "List of device IDs"
              },
              "example": [
                "DTA00001"
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "msg": {
                      "type": "string",
                      "description": "response message"
                    },
                    "code": {
                      "type": "integer",
                      "description": "response code"
                    }
                  },
                  "required": [
                    "msg",
                    "code"
                  ],
                  "x-apifox-orders": [
                    "msg",
                    "code"
                  ]
                },
                "example": {
                  "msg": "操作成功",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
[...]
